.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: inherit;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  line-height: 0;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
  stroke: #fbfbfb;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-icon {
  stroke-width: 3px;
  width: 16px;
  height: 16px;
  background-color: transparent;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.mobile-menu-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu-nav-link {
  width: 114px;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: #7a3145;
  background-color: #fbfbfb;
  border: none;
}
.mobile-menu-order-button {
  display: block;
  border-radius: 30px;
  width: 155px;
  height: 50px;
  padding: 0;
  flex-shrink: 0;
  background-color: #fbfbfb;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7a3145;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-order-button:hover,
.mobile-menu-order-button:focus {
  color: #fbfbfb;
  background-color: inherit;
  border: 1px solid rgba(251, 251, 251, 0.2);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    background-color: rgba(46, 47, 66, 0.4);
  }
  .mobile-menu-container {
    position: absolute;
    right: 0;
    background-color: #7a3145;
    width: 351px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu:not(.is-open) .mobile-menu-container {
    transform: translate(50%, 0);
  }
  .mobile-menu-close-icon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
