ul {
    list-style: none;
}


.vegetables-main-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
    max-width: 335px;
    white-space: normal;
}

.vegetables-main-part-title {
    color: rgba(251, 251, 251, 0.3);
}

.vegetables-main-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #fbfbfb;
    max-width: 335px;
    margin-bottom: 40px;
}

.vegetables-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.vegetables-list-item {

    border-radius: 40px;
    width: 100%;
    padding: 32px 26px;
    background-color: #fbfbfb;
}



.vegetables-food-titles {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #7a3145;
    margin-bottom: 12px;
}

.vegetables-food-p {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 14px;
    
}

.vegetables-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (min-width: 768px) {
    .vegetables-section-wrapper {
        margin-right: auto;
        margin-left: auto;
    }

    .vegetables-main-title {
        font-size: 64px;
        line-height: 1;
        max-width: 508px;
        white-space: normal;
    }

    .vegetables-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 28px 20px;
        

    }

    .vegetables-main-text {
        max-width: 626px;
        margin-bottom: 50px;
    }

    .vegetables-list-item {
        width: 342px;
        height: 379px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .vegetables-section-wrapper {
      
        margin-right: auto;
        margin-left: auto;
    }

    .vegetables-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 21px;
    }


    .vegetables-list-item {
        width: calc((100% - 42px) / 3);
        width: 346px;
      

    }

    .vegetables-main-text {
        font-size: 16px;
        line-height: 1.25;
        max-width: 626px;

    }
}