<footer class="footer-paddings">
    <div class="container footer-container">
        <div class="footer-wrraper-block">
            <div class="footer-logo">
                <a class="footer-logo-link" href="./index.html"><svg class="footer-logo-icon" width="168" height="16">
                        <use href="/images/icons.svg#icon-logo"></use>
                    </svg></a>
                <p class="footer-logo-text">
                    Whether you're looking for a healthy snack or a thoughtful gift, our
                    fruit baskets are the perfect choice.
                </p>
            </div>
            <div class="footer-flex">
                <nav class="footer-nav">
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <a class="footer-nav-link" href="#how-it-works">how it works</a>
                        </li>
                        <li class="footer-nav-item">
                            <a class="footer-nav-link" href="#vegetables">vegetables</a>
                        </li>
                        <li class="footer-nav-item">
                            <a class="footer-nav-link" href="#reviews">reviews</a>
                        </li>
                    </ul>
                </nav>
                <address class="footer-contact">
                    <a class="footer-contact-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
                    <p class="footer-contact-text">
                        1678 S. Pioneer Road Salt Lake City UT 84104
                    </p>
                </address>
            </div>
        </div>
        <div class="footer-privacy-block">
            <div class="footer-privacy-link-wrapper">
                <a class="footer-privacy-link" href="privacy-policy.html">Privacy Policy</a>
                <span>/</span>
                <a class="footer-privacy-link" href="cookie-settings.html">Cookie settings</a>
            </div>
            <div class="footer-year">
                <p class="footer-year-text">&copy; Green Harvest 2023</p>
            </div>
        </div>
    </div>
</footer>