<header class="header">
    <div class="container header-container">
        <nav class="header-navigation">
            <svg class="header-logo-svg">
                <use href="/images/icons.svg#icon-logo" />
            </svg>
            <ul class="header-navigation-ul">
                <li class="header-navigation-li">
                    <a class="header-navigation-a" href="#how-it-works">How It Works</a>
                </li>
                <li class="header-navigation-li">
                    <a class="header-navigation-a" href="#vegetables">Vegetables</a>
                </li>
                <li class="header-navigation-li">
                    <a class="header-navigation-a" href="#reviews">Reviews</a>
                </li>
            </ul>
            <button class="header-shop-button" type="button">Shop now</button>
            <button class="header-close-button" data-menu-burger-open>
                <svg class="header-close-button-svg">
                    <use href="/images/icons.svg#icon-burger" />
                </svg>
            </button>
        </nav>
    </div>
    <!-- <div class="mobile-menu">
        <div class="mobile-menu-container">
            <button class="mobile-menu-button" type="button">
                <svg class="mobile-menu-button-svg">
                    <use href="../images/icons.svg#icon-close"/>
                </svg>
            </button>
            <ul class="mobile-navigation-ul">
                <li class="mobile-navigation-li">
                    <a class="mobile-navigation-a" href="">How It Works</a>
                </li>
                <li class="mobile-navigation-li">
                    <a class="mobile-navigation-a" href="">Vegetables</a>
                </li>
                <li class="mobile-navigation-li mobile-navigation-li-special">
                    <a class="mobile-navigation-a" href="">Reviews</a>
                </li>
            </ul>
            <button class="mobile-shop-button" type="button">Shop now</button>
        </div>
    </div> -->
</header>