<section id="reviews" class="section-paddings section-reviews">
  <div class="container">
    <h2 class="titel-reviews accent-color">
      reviews from our <span class="green-accent">customers</span>
    </h2>
    <p class="accent-color text-reviews">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="list-reviews">
      <li class="item-reviews">
        <img
          class="reviews-photo"
          src="/images/reviews/john-wax.png"
          srcset="/images/reviews/john-wax@2x.png 2x"
          alt="john wax photo"
          width="56"
          height="56"
        />
        <h3 class="name-reviews accent-color">John Wax</h3>
        <p class="text-item-reviews">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </li>
      <li class="item-reviews item-reviews-vic">
        <img
          class="reviews-photo"
          src="/images/reviews/victoria-romashenko.png"
          srcset="/images/reviews/victoria-romashenko@2x.png 2x"
          alt="victoria romashenko photo"
          width="56"
          height="56"
        />
        <h3 class="name-reviews accent-color">Victoria Romashenko</h3>
        <p class="text-item-reviews">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>
      <li class="item-reviews item-reviews-ihor">
        <img
          class="reviews-photo"
          src="/images/reviews/ihor-trachuk.png"
          srcset="/images/reviews/ihor-trachuk@2x.png 2x"
          alt="ihor trachuk photo"
          width="56"
          height="56"
        />
        <h3 class="name-reviews accent-color">Ihor Trachuk</h3>
        <p class="text-item-reviews">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
