<section id="vegetables" class="container  vegetables-section">
    <div class="vegetables-section-wrapper section-paddings">
        <h2 class="vegetables-main-title">organic <span class="vegetables-main-part-title">vegetables</span></h2>
        <p class="vegetables-main-text">Our organic vegetables are hand-picked from local farms and delivered straight
            to
            your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
        <ul class="vegetables-list">

            <li class="vegetables-list-item">
                <h3 class="vegetables-food-titles">eggplant</h3>
                <p class="vegetables-food-p">60 USD / kg</p>
                <div class="vegetables-img-wrapper">
                    <img srcset="/images/vegetables/eggplant@2x.png 2x" src="/images/vegetables/eggplant.png"
                        alt="eggplant" width="282" height="243">
                </div>
            </li>
            <li class="vegetables-list-item">
                <h3 class="vegetables-food-titles">leek</h3>
                <p class="vegetables-food-p">50 USD / kg</p>
                <div class="vegetables-img-wrapper">
                    <img srcset="/images/vegetables/leek@2x.png 2x" src="/images/vegetables/leek.png" alt="leek"
                        width="282" height="243">
                </div>
            </li>

            <li class="vegetables-list-item">
                <h3 class="vegetables-food-titles">mushrooms</h3>
                <p class="vegetables-food-p">40 USD / kg</p>
                <div class="vegetables-img-wrapper">
                    <img srcset="/images/vegetables/mushrooms@2x.png 2x" src="/images/vegetables/mushrooms.png"
                        alt="mushrooms" width="282" height="243">
                </div>
            </li>
            <li class="vegetables-list-item">
                <h3 class="vegetables-food-titles">corn</h3>
                <p class="vegetables-food-p">60 USD / kg</p>
                <div class="vegetables-img-wrapper">
                    <img srcset="/images/vegetables/corn@2x.png 2x" src="/images/vegetables/corn.png" alt="corn"
                        width="282" height="243">
                </div>
            </li>
            <li class="vegetables-list-item">
                <h3 class="vegetables-food-titles">sweet potatoes</h3>
                <p class="vegetables-food-p">50 USD / kg</p>
                <div class="vegetables-img-wrapper">
                    <img srcset="/images/vegetables/sweet-potatoes@2x.png 2x"
                        src="/images/vegetables/sweet-potatoes.png" alt="sweet potatoes" width="282" height="243">
                </div>
            </li>

            <li class="vegetables-list-item">
                <h3 class="vegetables-food-titles">carrot</h3>
                <p class="vegetables-food-p">40 USD / kg</p>
                <div class="vegetables-img-wrapper">
                    <img srcset="/images/vegetables/carrot@2x.png 2x" src="/images/vegetables/carrot.png" alt="carrot"
                        width="282" height="243">
                </div>
            </li>
        </ul>
    </div>
</section>